engine-strict=true
auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=false
dedupe-peer-dependencies=true
prefer-workspace-packages=true
resolution-mode=highest
save-workspace-protocol=rolling
save-prefix=''
