auto-install-peers = true
public-hoist-pattern[] = @bfra.me/*
public-hoist-pattern[] = @babel/types
public-hoist-pattern[] = @types/*
public-hoist-pattern[] = *eslint*
public-hoist-pattern[] = husky
public-hoist-pattern[] = lint-staged
public-hoist-pattern[] = @commitlint/*
public-hoist-pattern[] = *prettier*
shell-emulator = true
strict-peer-dependencies = true
